%h1 Listing tasks

%table
  %tr
    %th Name
    %th Desc
    %th Due
    %th Done
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.desc
      %td= task.due
      %td= task.done
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

%br

%table
  - @tasks.each do |task|
    %tr
      %td= task.done
      %td= task.name
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to '&times;', task, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Task', new_task_path
